// grid columns
$blueprint_grid_columns: 24;
// default font size
$blueprint-font-size: 14px;
$font-color: #EEEEEE;
$link-color: #EEEEEE;
$link-hover-color: #FFFFFF;

$default-box-shadow-color: #222222;

$content_background: #CCCCCC;